#main {
  width: 100vw;
  height: auto;
}
.table {
  display: grid;
  grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
}

.content {
  border: 0.5px solid black;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
